:root {
  --bg-header: #020016;
}

.header {
  margin: -10px -10px 0px -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-header);
}

.logo {
  margin: 25px 0 30px 0;
  width: 250px;
  height: 130px;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 100px;
}

.voices {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.voices:hover {  
  cursor: pointer;
  text-decoration: underline;
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.containerLeft {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.voicesButton, .speak {
  width: 100px;
  border: 2px solid var(--bg-header);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.speak {
  background-color: #C2F6AE;
}

.voicesButton:hover, .speak:hover {
  cursor: pointer;
  background-color: #CFCFD3;
}

.containerRight {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.history {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
