:root {
  --bg-header: #020016;
}

body {
  overflow-x: hidden;
}

.header {
  margin: -10px -10px 0px -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-header);
}

.logo {
  margin: 25px 0 30px 0;
  width: 250px;
  height: 130px;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 100px;
}

.voices {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.voices:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.flagsSelector {
  padding: 20px;
}

.containerFlags {
  font-size: 20px;
  width: 150px;
  height: 485px;
  border: 2px solid black;
  border-radius: 30px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.containerFlags::-webkit-scrollbar {
  display: none;
}

.arrow {
  margin-left: 45%;
  width: 20px;
  height: 20px;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  border-radius: 2px;
  cursor: pointer;
}

.top {
  transform: rotate(315deg);
}

.down {
  transform: rotate(135deg);
}

.containerList {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.flagList {
  width: 110px;
  height: 70px;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgList {
  width: 80px;
  height: 50px;
  border-radius: 5px;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.speak {
  width: 100px;
  border: 2px solid var(--bg-header);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #C2F6AE;
}

.speak:hover {
  cursor: pointer;
  background-color: #CFCFD3;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
  width: 250px;
  text-align: start;
}

.history-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textArea {
  font-size: 20px;
}

.gender-select {
  width: 80px;
  text-align: center;
  font-size: 30px;
  border-radius: 8px;
}

.icon-gender {
  font-size: 20px;
}

.maleOption {
  color: blue;
}

.femaleOption {
  color: palevioletred;
}

.selectedEfect {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  background: skyblue;
}

@media screen and (max-width: 800px){
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
